/.cache-main
/.classpath
/.project
/dev*
/.externalToolBuilders/
/.settings/
/project/project/
/project/target/
/src/main/webapp/sbt-for-scala-js-build-fastopt*
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/
/target/
/src/main/resources/libs/*.jar
/src/main/resources/unpacked_libs/*/
!/src/main/resources/unpacked_libs/instructions.txt
