/.worksheet/
/.cache-main
/.cache-tests
/.classpath
/.project
/*.bat
/.externalToolBuilders/
/.settings/
/project/project/
/project/target/
/src/main/webapp/WEB-INF/quickstart-web.xml
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/
/target/
/WEB-INF/
