<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="2.5"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
    <!-- Webapp listener -->
  <listener>
    <listener-class>
      example.scala.WebappInit
    </listener-class>
  </listener>
<!--   <servlet> -->
<!--     <servlet-name>warmup</servlet-name> -->
<!--     <servlet-class>example.scala.WebappInit</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>warmup</servlet-name> -->
<!--     <url-pattern>/_ah/warmup</url-pattern> -->
<!--   </servlet-mapping>   -->

  <servlet>
    <servlet-name>builder</servlet-name>
    <servlet-class>example.scala.Builder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>builder</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>javascript</servlet-name>
    <servlet-class>example.scala.JavascriptBuilder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>javascript</servlet-name>
    <url-pattern>/javascript.js</url-pattern>
  </servlet-mapping>
</web-app>